{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>MBT | {% block page-title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'third-party/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/colors.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="{% static 'third-party/bootstrap/js/bootstrap.js' %}"></script>
  <head>

  <body>
    {% include 'header.html' %}
    {% if messages %}
      <div class="container">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == "error" %}danger{% endif %} alert-dismissible" role="alert">{{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
      </div>
    {% endif %}


      {% block main-content %}
      {% endblock %}
    {% include 'footer.html' %}
  <body>
</html>
