<footer class="footer panel-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="text-muted" align="center">Frase de estímulo voltada para o usuário, <strong>participe</strong>.</p>
      </div>
      <div class="col-md-2">
        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-lg social"></i></a>
        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-lg social"></i></a>
        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-lg social"></i></a>
      </div>
    </div>
  </div>
</footer>
