<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Logo
        </a>
      </div>
      <div class="navbar-right">
        {% if user.is_authenticated %}
          <button type="button" class="btn btn-default navbar-btn">Mapa</button>
          <button type="button" class="btn btn-default navbar-btn">Avaliação</button>
          <p class="navbar-text pull-right">
            <a class="navbar-link" href="#">
              Olá
            </a>
            <a class="navbar-link" href="#">
              Sair
            </a>
          </p>
        {% else %}
          <p class="navbar-text">
            <a class="navbar-link" href="#">
              Entrar
            </a>
            <a class="navbar-link" href="#">
              Cadastre-se
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
