{% extends 'base.html' %}

{% load static %}

{% block page-title %} Página Inicial {% endblock %}

{% block main-content %}
<div class="container">
  <div class="row">
    <h1 align="center">Frase de estimulo para o usuário</h1>
    <div class="wraper-center">
      {% lorem %}
      <br>
      <a href="{% url 'perguntas_cidada' %}" class="btn btn-default" role="button">Participe</a>
      <a href="https://gitlab.com/mibt/documentos/raw/estudo-de-sistemas-gerenciadores-de-indicadores/estudo-de-sistemas-gerenciadores-de-indicadores.pdf" class="btn btn-default btn-gray" role="button">Como funciona?</a>
      <br>
      <br>
    </div>
  </div>
</div>

<div class="container-fluid central-content">
  <div class="row">
    <div class="col-md-4 col-md-offset-1 central-box">
      <p class="central-box-title">Area com opções de resultado</p>
      <hr>
      <select class="central-box-select">
        <option value="0">-----------</option>
        {% for metodologia in metodologias %}
          <option value="{{ metodologia.id }}">{{ metodologia.nome }}</option>
        {% endfor %}
      </select>
      <ul>
        <li>Lorem impsum</li>
        <li>Lorem impsum</li>
        <li>Lorem impsum</li>
        <li>Lorem impsum</li>
        <li>Lorem impsum</li>
      </ul>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <img src="{% static 'image/mapa_brasil.png' %}" width="60%" alt="Mapa Brasil"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <form method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Busque por Estado ou Municipio">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
