.wraper-center {
  text-align: center;
}

.central-content{
  background-color: #ADADAD;
}

.central-box{
  border: 1px white solid;
  padding-top: 15px;
}

.central-box-select{
  width: 100%;
}

.central-box-title{
  text-transform: uppercase;
}

.central-content .col-md-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.btn-gray {
  background-color: gray !important;
  color: white !important;
}
.box-text{
  padding-top: 0.75em;
  font-size: 200%;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;   
}

.box-icon{
  margin-right: 1em;
  margin-bottom: 0.3em;
  text-align: right;
  font-size: 1.5em;
}

.share-icon{
    cursor: pointer;
}