.primary-color {
  background-color: #73777a;
  border-color: #73777a;
}

.secondary-color {
    background-color: #cacdcc;
}

.white-box {
    background-color: #ffffff;
    border: 1px #73777a solid;
    border-color: ;
}