{% extends 'base.html' %}

{% block main-content %}
  <div class="container col-md-6 col-md-offset-3">
    <div class="row text-center">    
      <h2>AVALIAÇÃO CIDADÃ</h2>
    </div>
    <form action="{% url 'resposta' %}" method="post">
      <div class="row text-center">
        {% csrf_token %}
        <br><br>
        
        <div class="dropdown text-center">
          <button class="btn btn-default dropdown-toggle form-control" id="dropdownMenu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="pull-left">Selecione um Bloco de Perguntas</span>
            <span class="pull-right"><span class="caret"></span></span>
          </button>
          <ul class="dropdown-menu central-box-select" aria-labelledby="dropdownMenu">
            <li><a href="#">Bloco de Perguntas 1</a></li>
            <li><a href="#">Bloco de Perguntas 2</a></li>
            <li><a href="#">Bloco de Perguntas 3</a></li>
          </ul>
        
        </div>
    
      <br><br>
      </div>
        <div class="row text-center">
          <a class="btn btn-primary primary-color" href="{% url 'resposta' %}?metodologia={{metodologia_id}}" role="button">Iniciar Avaliação</a>  
        </div>
    </form>
  </div>
{% endblock %}
