{% extends 'base.html' %}

{% block main-content %}
  <center>
    <h2>Avaliação</h2>
    <form action="{% url 'resposta' %}?metodologia={{ request.GET.metodologia  }}&item={{ request.GET.item }}" method="post">
      {% csrf_token %}
      {{ composicao.pergunta.enunciado }}
      <br>
      {{ resposta_form.pergunta_id }}
      {{ resposta_form.texto  }}

      <div class="row">
        <div class="col-sm-6">
          <a class="btn btn-default" href="#" role="button">Anterior</a>
        </div>
        <div class="col-sm-6">
          <input type=submit class="btn btn-default" role="button" value='Próxima'>
        </div>
      </div>
    </form>
  </center>
{% endblock %}
