{% extends 'base.html' %}

{% block main-content %}
  <div class="container col-md-6 col-md-offset-3">
    <div class="row text-center">    
      <h2>AVALIAÇÃO CIDADÃ</h2>
    </div>
    
    <br><br>
    <div class="row">
      <div class="secondary-color">
        <div class="text-center">
          <p class="box-text">PARABÉNS! SUA AVALIAÇÃO FOI ENVIADA COM SUCESSO</p>
        </div>
        <div class="box-icon">
          <span class="glyphicon glyphicon-star" aria-label="Star"/>
        </div>
      </div>
    </div>

    <div class="row">
      <a class="btn btn-primary primary-color col-md-1" href="{% url 'home' %}" role="button">
        <span class="glyphicon glyphicon-home" aria-label="Página Inicial"/>
      </a>
      <a class="btn btn-primary primary-color col-md-8" href="{% url 'perguntas_cidada' %}" role="button">Iniciar Avaliação</a>
      <span class="white-box col-md-3">
        <span class="glyphicon glyphicon-share-alt share-icon" aria-label="Twitter"/>
        <span class="glyphicon glyphicon-share-alt share-icon" aria-label="Facebook"/>
        <span class="glyphicon glyphicon-share-alt share-icon" aria-label="Google+"/>
      </span>
    </div>
  </form>
  </div>
{% endblock %}
